<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="2">
		<h:panelGroup>
			<h:outputLabel for="name" value="#{msgs.login_form_name_label}" />
		</h:panelGroup>
		<h:panelGroup>
			<p:inputText id="name" value="#{login.email}" required="true"
				requiredMessage="#{msgs.login_form_name_label}: #{msgs.login_form_name_required}" />
			<p:message for="name" />
		</h:panelGroup>
		<h:panelGroup>
			<h:outputLabel for="password"
				value="#{msgs.login_form_password_label}" />
		</h:panelGroup>
		<h:panelGroup>
			<p:password id="password" value="#{login.password}" required="true"
				requiredMessage="#{msgs.login_form_password_label}: #{msgs.login_form_password_required}" />
			<p:message for="password" />
		</h:panelGroup>
	</p:panelGrid>

</ui:composition>
