<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:panelGrid id="Grid" columns="2" cellpadding="5">
  #{msgs.email} 
  <h:panelGroup>
			<p:inputText value="#{register.email}" required="true"
				requiredMessage="#{msgs.formAlta_correo_requiredMessage}"
				validatorMessage="#{msgs.formAlta_correo_validatorMessage}"
				id="email">
				<f:validateRegex pattern=".+@.+\.[a-z]+" />
			</p:inputText>
			<p:message for="email" />
		</h:panelGroup>
  
  #{msgs.contraseña} 
  <h:panelGroup>
			<h:inputSecret id="passwd" value="#{register.passwd}" required="true"
				requiredMessage="#{msgs.formAlta_passwd_requiredMessage}"
				validatorMessage="#{msgs.formAlta_passwd_validatorMessage}">
				<f:ajax event="blur" render="passwordError" />
			</h:inputSecret>
			<p:message for="passwd" />
			<h:message for="passwd" errorClass="invalid" id="passwordError" />
		</h:panelGroup>
		
  #{msgs.repetirContraseña} 
  <h:panelGroup>
			<h:inputSecret id="passwd2" value="#{register.passwd2}" required="true"
				requiredMessage="#{msgs.formAlta_passwd2_requiredMessage}"
				validatorMessage="#{msgs.formAlta_passwd2_validatorMessage}">
				<f:ajax event="blur" render="passwordError" />
			</h:inputSecret>
			<p:message for="passwd2" />
			<h:message for="passwd2" errorClass="invalid" id="passwordError2" />
		</h:panelGroup>
		
  #{msgs.valorDefectoNombre} 
  <h:panelGroup>
			<p:inputText value="#{register.nombre}" required="true"
				requiredMessage="#{msgs.formAlta_nombre_requiredMessage}"
				validatorMessage="#{msgs.formAlta_nombre_validatorMessage}"
				id="nombre">
				<f:validateLength maximum="20" />
			</p:inputText>
			<p:message for="nombre" />
		</h:panelGroup>
	#{msgs.LOPD}
	<h:panelGroup>
		<h:selectBooleanCheckbox value="#{register.lopd}" required="true"/>
		</h:panelGroup>
		<center>
			<p:commandButton value="#{msgs.registro}"
				action="#{register.salva}" update=":mensajes2">
			</p:commandButton>
		</center>
	</h:panelGrid>
</ui:composition>