<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    >
  <h:form id="form-pie">      
				
		<p:menubar>
				<p:submenu style="float:right" label="#{msgs.textoIdioma}" icon="ui-icon-document">
					<p:menuitem value="#{msgs.enlaceIdiomaES}" actionListener="#{settings.setSpanish}" update="@all" />
					<p:menuitem value="#{msgs.enlaceIdiomaEN}" actionListener="#{settings.setEnglish}" update="@all" /> 
					
				</p:submenu>
					<p:menuitem value="#{msgs.enlaceCasa}" action="#{login.logout}" icon="ui-icon-home" />	
		</p:menubar>
  </h:form>
</ui:composition>