<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-general.xhtml">

	<ui:define name="titulo">
    #{msgs.textoEdita}
  </ui:define>

	<ui:define name="cuerpo">
		<h:form>
			<p:dataTable var="vusuario" value="#{controller.usuarios}" border="1"
				id="tablaListado" editable="true" editMode="cell">
				<p:column>
					<f:facet name="header">#{msgs.correo}</f:facet>#{vusuario.email}</p:column>
				<p:column headerText="#{msgs.nombre}">
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{vusuario.nombre}" />
						</f:facet>
						<f:facet name="input">
							<p:inputText value="#{vusuario.nombre}" />
						</f:facet>
					</p:cellEditor>
				</p:column>
				<p:column headerText="#{msgs.rol}">
					<p:cellEditor>
						<f:facet name="output">
							<h:outputText value="#{vusuario.rol}" />
						</f:facet>
						<f:facet name="input">
							<h:selectOneMenu value="#{vusuario.rol}" style="width:100%">
								<f:selectItem itemLabel="#{msgs.admin}" itemValue="admin" />
								<f:selectItem itemLabel="#{msgs.user}" itemValue="user" />
							</h:selectOneMenu>
						</f:facet>
					</p:cellEditor>
				</p:column>
			</p:dataTable>
			<p:commandButton value="#{msgs.guardarEdicion}"
				action="#{controller.edit(controller.usuarios)}"
				style="float:right;" update="tablaListado"></p:commandButton>
		</h:form>
	</ui:define>
	<ui:define name="pie">
		<p:commandButton value="#{msgs.enlaceUtilidadesAdmin}"
			action="opciones-admin">
		</p:commandButton>
		<ui:include src="/snippets/pie-casa.xhtml" />
	</ui:define>
</ui:composition>