<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-general.xhtml">

	<ui:define name="titulo">
    #{msgs.textoBorra}
  </ui:define>

	<ui:define name="cuerpo">
		<h:form>
		<p:growl id="mensajes4" showDetail="false" />
			<p:dataTable var="vusuario" value="#{controller.usuarios}" border="1"
				id="tablaListado">
				<p:column>
					<f:facet name="header">#{msgs.correo}</f:facet>#{vusuario.email}</p:column>
				<p:column>
					<f:facet name="header">#{msgs.nombre}</f:facet>#{vusuario.nombre}</p:column>
				<p:column>
					<f:facet name="header">#{msgs.textoBorra}</f:facet>
					<h:commandLink action="#{controller.baja(vusuario)}" type="submit"
						value="#{msgs.Borrar}" immediate="true" update="tablaListado :mensajes4">
					</h:commandLink>
				</p:column>
				<p:column>
					<f:facet name="header">#{msgs.seleccionar}</f:facet>
					<h:selectBooleanCheckbox value="#{controller.checked[vusuario]}" />
				</p:column>
			</p:dataTable>
			<p:commandButton value="#{msgs.borrarSeleccionados}"
				action="#{controller.deleteV}" style="float:right;"
				update="tablaListado mensajes4"></p:commandButton>
		</h:form>
	</ui:define>
	<ui:define name="pie">
		<p:commandButton value="#{msgs.enlaceUtilidadesAdmin}"
			action="opciones-admin">
		</p:commandButton>
		<ui:include src="/snippets/pie-casa.xhtml" />
	</ui:define>
</ui:composition>