<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-general.xhtml">

	<ui:define name="titulo">
      #{msgs.tituloHead}
    </ui:define>

	<ui:define name="cuerpo">
	<p:growl id="growl" for="msg" showDetail="true" sticky="true" />
		<h:form> 
		<h1>#{tituloOpcionesAdmin}</h1>
		<p:menubar>
		
				<p:menuitem value="#{msgs.reinicioBD}" action="#{controller.reinicioBD}" update="growl"/>			
				<p:menuitem value="#{msgs.textoBorra}" action="#{controller.listado}" />
				<p:menuitem value="#{msgs.textoEdita}" action="#{controller.listado2}" />
		
		</p:menubar>
		</h:form>
	</ui:define>

	<ui:define name="pie">
	<ui:include src="/snippets/pie-casa.xhtml" />
	</ui:define>

</ui:composition>