<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-general.xhtml">

	<ui:define name="titulo">
    #{msgs.tituloOperacionAlta}
  </ui:define>

	<ui:define name="cuerpo">
	<center>
		<h2>#{msgs.tituloOperacionAlta}</h2>
		<p:growl id="mensajes2" showDetail="false" />
		<h:form id="form-principal">
			<ui:include src="/snippets/form-usuario.xhtml" />
		</h:form>
	</center>
	</ui:define>
	<ui:define name="pie">
	<h:form id="form-pie"> 
		<p:menubar>
				<p:submenu style="float:right" label="#{msgs.textoIdioma}" icon="ui-icon-document">
					<p:menuitem value="#{msgs.enlaceIdiomaES}" actionListener="#{settings.setSpanish}" update="@all" />
					<p:menuitem value="#{msgs.enlaceIdiomaEN}" actionListener="#{settings.setEnglish}" update="@all" /> 
					
				</p:submenu>
					<p:menuitem value="#{msgs.inicioSesion}" action="inicioSesion" icon="ui-icon-home" />	
		</p:menubar>
	</h:form>
	</ui:define>
</ui:composition>