<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-general.xhtml">

	<ui:define name="titulo">
      #{msgs.tituloHead}
    </ui:define>

	<ui:define name="cuerpo">

		
		<center>
		<h1>#{msgs.crearPublicacion}</h1>
		
		<h:form id="form-publicaciones">
		
		<p:growl id="mensajes" showDetail="false" />
		<p:panelGrid columns="2">
		<h:panelGroup>
			<h:outputLabel for="title" value="#{msgs.titulo}" />
		</h:panelGroup>
		<h:panelGroup>
			<p:inputText  id="title" value="#{controllerpublis.title}"  required="true" requiredMessage="#{msgs.crearPublicacionTituloLabel}: #{msgs.crearPublicacionTitulo_required}"/>
			<p:message for="title" />
		</h:panelGroup>
		<h:panelGroup>  
			<h:outputLabel for="text" value="#{msgs.texto}" />
		</h:panelGroup>
		<h:panelGroup>
			<p:inputText style="height: 500px" id="text" value="#{controllerpublis.text}" required="true" requiredMessage="#{msgs.crearPublicacionTextoLabel}: #{msgs.crearPublicacionTexto_required}" />
			<p:message for="text" />
		</h:panelGroup>	
		<p:commandButton value="#{msgs.crear}"	action="#{controllerpublis.crearPublicacion}" update="mensajes" >
		</p:commandButton>
	</p:panelGrid>
	
	
	</h:form>
	</center>
	</ui:define>

	<ui:define name="pie">
	<p:commandButton value="#{msgs.enlaceUtilidadesUser}" action="opciones-usuario"></p:commandButton>
	<ui:include src="/snippets/pie-casa.xhtml" />
	</ui:define>

</ui:composition>