<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-general.xhtml">

	<ui:define name="titulo">
      #{msgs.tituloHead}
    </ui:define>

	<ui:define name="cuerpo">
		<center>
			<p:growl id="mensajes" showDetail="false" />
			<h:form id="form-principal">
				<ui:include src="/snippets/form-login.xhtml" />
				<p:commandButton value="#{msgs.login_form_button_send}"
					action="#{login.verify}" update=":mensajes">
				</p:commandButton>
			</h:form>
		</center>
	</ui:define>

	<ui:define name="pie">
		<center>
			<p:commandButton value="#{msgs.nuevoUsuario}"
				action="altaUsuario">
			</p:commandButton>
		</center>
		<ui:include src="/snippets/pie-casa.xhtml" />
	</ui:define>

</ui:composition>

