<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-general.xhtml">

	<ui:define name="titulo">
    #{msgs.tituloverPublisAmigos}
  </ui:define>

	<ui:define name="cuerpo">
		<center>
		<h1>#{msgs.tituloverAmigosPublis}</h1>
		<h:form>
		
			<p:dataTable var="vpublicacion" value="#{controllerpublis.publicacionesAmigos}" border="1"
				id="tablaListado">

				<p:column sortBy="#{vpublicacion.titulo}">
					<f:facet name="header">#{msgs.titulo}</f:facet>#{vpublicacion.titulo}</p:column>
				<p:column sortBy="#{vpublicacion.texto}">
					<f:facet name="header">#{msgs.texto}</f:facet>#{vpublicacion.texto}</p:column>
				<p:column sortBy="#{vpublicacion.fecha}">
					<f:facet  name="header">#{msgs.fecha}</f:facet>#{vpublicacion.fecha}</p:column>
				
				
			</p:dataTable>
		</h:form>
		</center>
	</ui:define>
	<ui:define name="pie">
	<p:commandButton value="#{msgs.enlaceUtilidadesUser}" action="opciones-usuario"></p:commandButton>
	<ui:include src="/snippets/pie-casa.xhtml" />
	</ui:define>
</ui:composition>