<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-general.xhtml">

	<ui:define name="titulo">
	</ui:define>

	<ui:define name="cuerpo">
		<h:form>
			<p:dataTable var="vusuario" value="#{amigos.invis_pendientes}" border="1"
				id="tablaListado">
				<p:column>
					<f:facet name="header">#{msgs.correo}</f:facet>#{vusuario.email}</p:column>
				<p:column>
					<f:facet name="header">#{msgs.nombre}</f:facet>#{vusuario.nombre}</p:column>
				<p:column>
					<f:facet name="header">#{msgs.textoAcepta}</f:facet>
					<h:commandLink action="#{amigos.aceptar(vusuario)}" type="submit"
						value="#{msgs.textoAcepta}" immediate="true" update="tablaListado">
					</h:commandLink>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
	<ui:define name="pie">
		<p:commandButton value="#{msgs.enlaceUtilidadesUser}"
			action="opciones-usuario">
		</p:commandButton>
		<ui:include src="/snippets/pie-casa.xhtml" />
	</ui:define>
</ui:composition>