<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-general.xhtml">

	<ui:define name="titulo">
    #{msgs.enviarInviAmistad}
  </ui:define>

	<ui:define name="cuerpo">
		<h:form>
			<p:growl id="mensajes3" showDetail="false" />
			<p:dataTable var="vusuario" value="#{controller.usuarios}" border="1"
				widgetVar="tablaListado" filteredValue="#{controller.usuariosFiltrados}">
				<f:facet name="header">
					<p:outputPanel>
						<h:outputText value="#{msgs.busqueda} " />
						<p:inputText id="globalFilter" onkeyup="PF('tablaListado').filter()"
							style="width:150px" />
					</p:outputPanel>
				</f:facet>
				<p:column filterBy="#{vusuario.email}" filterMatchMode="contains" filterStyle="display:none">
					<f:facet name="header">#{msgs.correo}</f:facet><h:outputText value="#{vusuario.email}"></h:outputText></p:column>
				<p:column filterBy="#{vusuario.nombre}" filterMatchMode="contains" filterStyle="display:none">
					<f:facet name="header">#{msgs.nombre}</f:facet><h:outputText value="#{vusuario.nombre}"></h:outputText></p:column>
				<p:column>
					<f:facet name="header">#{msgs.enviaInvi}</f:facet>
					<h:commandLink action="#{amigos.enviaInvi(vusuario.email)}"
						type="submit" value="#{msgs.enviaInvi}" immediate="true"
						update=":mensajes3">
					</h:commandLink>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
	<ui:define name="pie">
		<p:commandButton value="#{msgs.enlaceUtilidadesUser}"
			action="opciones-usuario">
		</p:commandButton>
		<ui:include src="/snippets/pie-casa.xhtml" />
	</ui:define>
</ui:composition>