<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/template-general.xhtml">


	<ui:define name="titulo">
      #{msgs.tituloHead}
      
    </ui:define>
	
	<ui:define name="cuerpo">
	<center>
	<h3>#{tituloOpcionesUsu}</h3>
		<h:form id="opciones-usuario">
		
		
		<p:menubar>
				<p:menuitem value="#{msgs.crearPublicacion}" action="crearPublicacion" />			
				<p:menuitem value="#{msgs.verPublicaciones}" action="#{controllerpublis.listado}" />
				<p:menuitem value="#{msgs.enviarInviAmistad}" action="#{controller.listado}" />
				<p:menuitem value="#{msgs.verInviAmistad}" action="#{amigos.listadoInvis}" />
				<p:menuitem value="#{msgs.verPublisAmigos}" action="#{controllerpublis.listadoPublicacionesAmigos}" />
		</p:menubar>
		</h:form>
	</center>
	</ui:define>

	<ui:define name="pie">

	<ui:include src="/snippets/pie-casa.xhtml" />
	</ui:define>

</ui:composition>